
 * {
   box-sizing: border-box; 
  }
  
  body {
    margin: 0;
  }
  #main {
    display: flex;
    min-height: calc(100vh - 40vh);
  }
  #main > article {
    flex: 1;
  }
  #main > leftnav, 
  #main > aside {
    flex: 0 0 20vw;
    background: white;
  }
  #main > leftnav {
    order: -1;
  }
  header, footer, article, leftnav, aside {
    padding: 1em;
  }
  header, footer {
    background: white;
    height: 20vh;
  }
  #main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
.clear {
  clear: both;
}

  
   /*  TOP Navigation Styling*/
   
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
} 
 
 */
  
     /*  LEFT Navigation Styling*/
  
.leftnav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.leftnav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.leftnav a:hover {
    color: #064579;
}

@media screen and (max-height: 450px) {
    .leftnav {padding-top: 15px;}
    .leftnav a {font-size: 18px;}
}
  
    
  }/*end BODY tag */
